books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="books" type="booksType"/>
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element name="Title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Java. Methods Programming"/>
            <xs:enumeration value="Java. Programming patterns"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Author">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Blinov I.N"/>
            <xs:enumeration value="Gang of four"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Date">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2001"/>
            <xs:enumeration value="2004"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ISBN">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="81-40-34319-4"/>
            <xs:enumeration value="0-06-064831-7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Publisher">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="BSU"/>
            <xs:enumeration value="Some publisher"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Cost"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="booksType">
    <xs:sequence>
      <xs:element type="bookType" name="book" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

    <xs:complexType name="CostType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="currency" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
