book_new.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="books" type="booksTypeNew"/>
  <xs:complexType name="bookTypeNew">
    <xs:sequence>
      <xs:element type="xs:integer" name="id"/>
        <xs:element type="xs:string" name="name"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="isbn" use="optional"/>
  </xs:complexType>
  <xs:complexType name="booksTypeNew">
    <xs:sequence>
      <xs:element type="bookTypeNew" name="book" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
