src/by/molchanova/lesson11/cat1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cat">
        <xs:complexType>
            <xs:all>
                <xs:element name="color" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
